

<title>{{ title }}</title>

<h1>
Hi {{ user }},<br>
    {{ title }}


</h1>

<form method="POST" action="" >
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="sign up">



</form>